<!DOCTYPE html>
<html>
  <head>
    <title>OpenMesa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'fav_icon.png' %>
    <script src="https://use.fontawesome.com/7da12bb80e.js"></script>
  </head>
  
  # <script type="text/javascript">
  # </script>
  <body> 
    <%= yield %>
  </body>
  
</html>
