<!DOCTYPE html>
<html>
  <head>
    <title>OpenMesa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://use.fontawesome.com/5c8d6341f2.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'fav_icon.png' %>
  </head>
  
  <script type="text/javascript">
    window.splashURL = "<%= image_url('restaurant.png') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
